.titulo{
         background-color:cornflowerblue;
         
         
}
body{
         background-color:cadetblue;
}
h1{
         font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif,cursive;
         font-size: 50px;
         
         padding: 20px;
         text-align: center;
}


img{
         display: block;
         margin-left: auto;
         margin-right: auto;
         width: 35%;   
}

p{
        
         background-color: darkkhaki;
         font-size: 20px;
         font-family: Verdana, Geneva, Tahoma, sans-serif;
         background-position-x: center;
         box-sizing: border-box;
         padding: 80px;
         text-align: justify;
}
div{
         display: block;
}
h2{
         font-family: Georgia, 'Times New Roman', Times, serif;
         font-style: italic;
         font-size: 45px;
         text-align: center;
         

         }
.textonahualt{
         font-style: italic;
         font-size: 20px;
         font-family: Verdana, Geneva, Tahoma, sans-serif;
         background-position-x: center;
         box-sizing: border-box;
         width: 80px;
         text-align: justify;

}
.autor {
         font-weight:bold; 
         color:black;
         font-size: 20pt;
         text-align: center;
     }
h3{
         font-family: Verdana, Geneva, Tahoma, sans-serif;
         font-size: 20px;
         text-align: center;
         background-color: burlywood;
         color: cadetblue;
}
.glosario{
         
         font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
         font-size: 20px;
         padding: 20px;
}
dt{
         color:cornsilk;
         font-weight: bold;
         font-size: 20px;
dd{
         color: black;
        margin-bottom: 3em;
}



